body{
    color: #173F5F;
    background-color: #FFFAEA;
}
header{
    color: #173F5F;
    background-color: #FFE366;
}
nav{
    color: #FFE366;
    background-color: #ED553B;
}
.nav_links {
    color: #FFE366;
}
table {
    border: 2px solid #FF6B6B;
    border-collapse: collapse;
}
th, td {
    border: 2px solid #FF6B6B;
}
.row1{
    background-color: #FFC500;
}
.row2{
    background-color: #FFE366;
}
footer{
    color: #173F5F;
    background-color: #FFE366;
}
